.slider{
	width:40%;
	margin-buttom:30px;
	margin-right: 30px;
	
}
.red{
	background:red;
	margin-left:50px;
	margin-top:40px;
}
.blue{
	background:blue;
	margin-left:50px;
	margin-top:40px;
}
.yellow{
	background:green;
	margin-left:50px;
	margin-top:40px;
}