body{
	margin;
}
.box{
	height:300px;
	width:300px;
	background:blue;
	animation-name: moving;
	animation-delay: 1s;
	animation-duration: 3s;
	position:absolute;
	animation-direction:alternate;
	animation-iteration-count:4;
	animation-fill-mode:forwards;
	
}
@keyframes moving {
	0%{
		
		top: 0;
		left: 0;
	}
	
	100%{
		top: 0;
		left: 200px;
	}
		
}
