body{
	margin: 0;
}

.another-box{
	height:200px;
	width:200px;
	background:orange;
	position:rlative;
	left:200px;
}
.headline {
	background:blue;
	padding:10px 0;
	font-family:tahoma;
	color:#ffffff;
	position:fixed;
	left:0;
	bottom:0;
	
	
	
	
}
@media (max-width:874px){
	.something{
		background:yellow;
		float:none;
	}
}
	
	